@font-face {
    font-family: 'Bauer Bodoni Condensed';
    src: url('/path-to-your-font/BauerBodoniCondensed.woff2') format('woff2'),
         url('/path-to-your-font/BauerBodoniCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}


