@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@font-face {
    font-family: 'Bauer Bodoni Condensed';
    src: url('/path-to-your-font/BauerBodoniCondensed.woff2') format('woff2'),
         url('/path-to-your-font/BauerBodoniCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}